input.Text{
        background-color:#FFFFFF;
        border:1px solid #4682B4;
		width:150px;
		font:tahoma,Verdana;
}

select, textarea {
		border: 1px solid #4682B4;
}

input[type=text] {
		border: 1px solid #4682B4;
}

input.Pname{
        background-color:#FFFFFF;
        border:1px solid #4682B4;
		width:200px;
}


input.IPAddress{
        background-color:#FFFFFF;
        border:1px solid #4682B4;
		width:50px;
}
input.LicenceKey{
        background-color:#FFFFFF;
        border:1px solid #4682B4;
		width:50px;
}

input.Boolean{
        background-color:#FFFFFF;
        border:0px solid gray;
}

select.Select{
        border:1px solid #4682B4;
		width:150px;
}

hr.Line{
		size:2;
		color:"#AAAAAA";
		margin-bottom: 0px;
}

div.HeaderDefault{
        width:100%;
        height:30px;
	letter-spacing:.5px;		
        font-size:16px;
        font-weight:bold;
        float:left;
        background-color:#FFFFFF;
}
div.HeaderDefaultLB{
        width:100%;
        height:30px;
	letter-spacing:.5px;		
        font-size:16px;
        font-weight:bold;
        float:left;
        background-color:#EBEBEB;
}
div.HeaderText{
		font-size: 15px;
		padding:10px 0px 0px 20px;
}

table.body {
	border:none;
	padding: 0px;
	margin: 0px auto;
	border-spacing: 0px;
	background-color:#0F9;
}

table.body td {
	margin:0px;
	padding: 0px;
	
}


td.error{
		vertical-align:middle;
		height:150px;
		text-align:center;
		padding: 0px 0px 0px 0px;
		font-weight:bold;
}
td.msg{
		vertical-align:middle;
		height:150px;
		text-align:center;
		padding: 0px 0px 0px 0px;
		font-weight:bold;
}


form{
	padding: 0px 0px 0px 0px;
	float:left;
	width:80%;
	margin-left:20px;
	margin-top:0px;

}

button.ButtonNormalAppearance{
   	background-color:#B9D0D9;
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 3px; 
	COLOR: #474747; 
	PADDING-TOP: 3px; 
	FONT-FAMILY: Tahoma;
	width:65px;
	border:2px;
}

table.TableDefault{
    width:100%;
	border-collapse:collapse;
	empty-cells: show;
}

th.TableHeadColumnDefault{
    font: bold 11px ;
    font-weight: bold;
    color: black;
    text-align: center;
    vertical-align: middle;
    background-color:#B9D0D9;
    white-space: nowrap;
    border:1px solid #FFFFFF;
    position: relative;
    padding:2px 2px 2px 2px;
    white-space: nowrap;
}

tr.odd {
   background-color:#D7D7D7;
  width:100%;
}

tr.even{
  background-color: #eeeeee;
}

td.TableTdLink{
    font: normal 12px;
    color: black;
    text-align: center;
    vertical-align: middle;
    padding: 0px 1px 0px 1px;
    white-space: nowrap;
    border:1px solid #FFFFFF;
	position: relative;
}

td.TableTdDefault{
    font: normal 12px;
	font-size: 11px;
    color: black;
    text-align: center;
    vertical-align: middle;
    padding: 0px 1px 0px 1px;
    white-space: nowrap;
    border:1px solid #FFFFFF;
	position: relative;
}

td.TableBodyColumnDefault{
    font: normal 12px ;
    color: black;
    text-align: left;
    vertical-align: middle;
    padding: 0px 1px 0px 1px;
    white-space: nowrap;
    border:2px solid #FFFFFF;
}

td.TdLine{
	padding-left:17px;
	margin-bottom: 0px;
}
fieldset.LB {
	background-color:#EBEBEB;
}
fieldset.Field{
	background-color:#EEEEEE;
	 -moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

body, label, p, th, td, ul, ol, a, select, input, font{
	font-family:tahoma, verdana;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	text-decoration: none;
}

a:link, a:visited{
	color:#0000aa;
	text-decoration: none;
}

legend{
	color:#000000;
}
a:hover{
	color:#000000;
	text-decoration: none;
}

body{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	overflow: auto;

}

.link-padding {
	margin-left:28px;
}
